/* Copyright 2017 George S. Kong. All rights reserved. */
/* Use of this source code is governed by a license that can be found in the LICENSE.txt file. */

/* NOTE - styling for html emails is hard-coded in email.go */

/* keep page width medium-sized, even on high-res screens */
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
	#dm-navbar {
		max-width: 768px;
		margin: auto;
	}
	.dm-panel-fixed {
		margin: 0px;
	}
}

@media (max-width: 767px) {
	.dm-panel-fixed {
		margin: auto;
	}
}

body {
	background-color: #C6784E;
}

h1 {
	margin-top: 12px;
	font-size: 225%;
	font-weight: bold;
}

p {
	margin-top: 16px;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #777;
	margin: 0;
	padding: 0;
}

.modal-content {
	border-radius: 10px;
}

.dm-gone {
	display: none;
}

.dm-noclick {
	pointer-events: none;
}

.dm-vspacer {
	height: 16px;
	width: 1px;
}

.dm-panel-fixed {
	width: 290px;
	background-color: #d8d8d8;
	padding: 12px 35px 12px 35px;
	border-radius: 20px;
}

.dm-panel {
	background-color: #d8d8d8;
	padding: 12px 35px 12px 35px;
	border-radius: 20px;
}

.dm-panel-ontrack {
	background-color: #c8f0c8;
}

.dm-tag-line {
	font-weight: bold;
	margin-top: 16px;
	margin-bottom: 16px;
}

.dm-quote-container {
	padding: 16px 8px 8px 24px;
}

.dm-quote {
	padding: 12px;
}

.dm-quote-citation {
	text-align: right;
}

@media (min-width: 768px) {
	.dm-tag-line {
		font-size: 140%;
	}
	.dm-quote-container {
		padding: 32px 50px 32px 90px;
	}
	.dm-quote {
		padding: 16px 24px;
		font-size: 150%;
	}
}

.dm-header {
	display: inline-block;
	margin-top: 4px;
	font-size: 80%;
	color: #777;
}

.dm-footer {
	margin-top: 12px;
	font-size: 80%;
	text-align: right;
	color: #777;
}

.dm-title {
	padding: 12px 0px 8px 0px;
	font-weight: bold;
	font-size: 150%;
}

.dm-small-title {
	padding: 0px 0px 8px 0px;
	font-weight: bold;
	font-size: 110%;
}

.dm-hamburger-container {
	display: inline-block;
	margin-top: 8px;
	margin-left: 16px;
	float: right;
}

.dm-hamburger {
    height: 25px;
	width: 6px;
    background:linear-gradient(to bottom, #000 0%, #000 20%, transparent 20%, transparent 40%, #000 40%, #000 60%, transparent 60%, transparent 80%, #000 80%, #000 100%);
}

.dm-dropdown-no-triangle::after {
	display: none;
}

.dm-status {
	margin-top: 12px;
	margin-bottom: 0;
	text-align: center;
}

.dm-row {
	height: 80px;	
}

.dm-col {
	display: inline-block;
	cursor: pointer;
	height: 100%;
	margin: 0;
	background-color: #7EC2FC;
}

.dm-move-left {
	width: 48px;
	border-bottom-left-radius: 16px;
	border-top-left-radius: 16px;
}

.dm-move-right {
	width: 48px;
	border-bottom-right-radius: 16px;
	border-top-right-radius: 16px;
}

.dm-citation {
	width: 124px;
	color: #000;
	text-align: center;
	font-weight: bold;
	border-left: 1px solid #555;
	border-right: 1px solid #555;

	white-space: nowrap;
	clip-path: inset(0 0 0 0);
	-webkit-clip-path: inset(0 0 0 0);
}

.dm-cit-left {
	position: relative;
	width: 124px;
}

.dm-cit-right {
	position: relative;
	width: 124px;
}

@keyframes wipeleft {
	from { left: 0; }
	to { left: -100%; }
}

@keyframes wiperight {
	from { left: -100%; }
	to { left: 0; }
}

.dm-wipeleft {
	animation: wipeleft 0.75s forwards;
}

.dm-wiperight {
	animation: wiperight 0.75s forwards;
}

.dm-temporal-context {
	height: 1.6em;
	margin-bottom: 1px;

	text-align: center;

	white-space: nowrap;
	clip-path: inset(0 0 0 0);
	-webkit-clip-path: inset(0 0 0 0);
}

.dm-tctx-left {
	display: inline-block;
	position: relative;
	width: 220px;
}

.dm-tctx-right {
	display: inline-block;
	position: relative;
	width: 220px;
}

.dm-move svg {
	height: 50px;
	width: 16px;
	margin: 0 0 0 16px;
}

.dm-triangle {
	fill:#333;
	fill-opacity:1;
	fill-rule:evenodd;
	stroke:none;
}

.dm-triangle-greyed {
	fill:#888;
	fill-opacity:1;
	fill-rule:evenodd;
	stroke:none;
}

.dm-line-height-hack {
	line-height: 75%;
}

.dm-plans-button-container {
	margin: auto;
	width: max-content;
	width: -moz-max-content;
	width: -webkit-max-content;
	padding-bottom: 4px;
}

.dm-details-day {
	font-weight: bold;
}

.dm-number-form {
	max-width: 220px;
}

.dm-default-cursor {
	cursor: default;
}

.dm-button-inline {
	margin-left: 4px;
}

/*
 * magical incantation for vertically centering an element within its parent.
 * http://stackoverflow.com/a/21919578
 */

.vcenter-container {
	display: inline-block;
	height: 100%;
	white-space: nowrap;
	text-align: center;
}

.vcenter-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 0;
	margin-right: -0.25em; /* Adjusts for spacing */
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
}
