<div class="dm-panel">
	<h1>About</h1>
	<div class="dm-quote-container">
		<hr/>
			<div class="dm-quote">
				... his <b>delight</b> is in the law of the Lord,
				and on his law he <b>meditates</b> day and night.
				<div class="dm-quote-citation">Psalm 1</div>
			</div>
		<hr/>
	</div>
	<p>
		<b>Delight/Meditate</b> is a free daily Bible reading web app
		for mobile devices and desktop web browsers.
		It takes you through a daily reading plan
		and is designed to be simple, quick, and frictionless.
		For each reading, you can read your physical Bible
		or, with a single click, view the reading
		at one of the popular online Bible web sites,
		in your chosen translation.
	</p>
	<p>
		<b>Delight/Meditate</b> is a web app - to use it, just visit DelightMeditate.com.
		You don't need to install anything on your device.
	</p>
	<p class="dm-visitor-only">
		For a quick introduction, click <b>Test drive</b> below.
		To learn more, sign up for a free account.
		You can experiment as much as you like.
		It's easy to add or remove plans and to jump around within plans.
	</p>
	<div class="dm-vspacer dm-visitor-only"></div>
	<button type="button" class="btn btn-primary dm-visitor-only" id="dm-test-drive-button">Test drive</button>
	<div class="dm-vspacer"></div>
	<button type="button" class="btn btn-primary" id="dm-help-button">How it works</button>
	<div class="dm-vspacer"></div>
	<div class="dm-vspacer"></div>
</div>
