<div class="dm-panel">
	<div class="dm-title">Contact Us</div>
	<p>
		Please enter a brief message and click <b>Send</b>
	</p>
	<form class="add-border dm-number-form">
		<div class="form-group">
			<textarea id="contactText" class="form-control" name="contact123" rows="8" maxlength="1000"></textarea>
		</div>
		<div id="contact-alert" class="alert alert-danger"></div>
		<button type="button" class="btn btn-primary" id="dm-contact-button">Send</button>
		<div class="dm-vspacer"></div>
		<button type="button" class="btn btn-primary" id="dm-contact-cancel">Cancel</button>
	</form>
	<div class="dm-vspacer"></div>
	<div class="dm-vspacer"></div>
</div>
