<div class="dm-panel-fixed">
	<div class="dm-vspacer"></div>
	<p>
		{{msg}}
	</p>
	<div id="dm-dialog-button">
		<div class="dm-vspacer"></div>
		<button type="button" class="btn btn-primary">{{buttonlabel}}</button>
	</div>
	<div class="dm-vspacer"></div>
	<div class="dm-vspacer"></div>
</div>
