<div class="dm-panel-fixed">
	<h1>Forgot Password</h1>
	<p>
		Please enter the email address for your account.
	</p>
	<form class="add-border">
		<div class="form-group">
			<label for="prEmail">email address</label>
			<input id="prEmail" class="form-control" "type="text" name="forgot123" />
		</div>
		<div class="dm-vspacer"></div>
		<div id="forgot-alert" class="alert alert-danger"></div>
		<button type="button" class="btn btn-primary" id="dm-forgot-button">Continue</button>
	</form>
	<div class="dm-vspacer"></div>
</div>
