<div class="dm-panel">
	<h1>Help</h1>

	<div class="dm-vspacer"></div>
	<div class="dm-small-title">Plans</div>
	<p>
		Click <b>Plans</b>, to browse available reading plans and add one or more plans.
	</p>
	<p>
		A plan can have multiple readings per day.
		For example, click <b>Plans</b> in the menu,
		find <b>M'Cheyne 1-Year (3/day)</b>, and click <b>See plan details</b>.
		This plan has 3 streams: two from the Old Testament
		and one from the New Testament and Psalms.
		There is one reading from each stream for every day,
		and the plan takes one year to complete.
	</p>

	<div class="dm-vspacer"></div>
	<div class="dm-small-title">Tracking and Accountability</div>
	<p>
		If you are using the plan named <b>M'Cheyne 1-Year (3/day)</b>,
		three readings are due each day.
		Normally, you would read one reading from each stream every day,
		but you are not required to follow this order -
		you can read ahead in one stream and then catch up in the other streams later.
		The app considers you up to date if you read the expected number
		of readings for your plan each day, regardless of which stream(s) they come from.
	</p>
	<p>
		If you get behind in your reading, you can do extra reading to catch up.
		If you get hopelessly behind, click the three-dot menu in the
		upper-right corner of the plan, and choose <b>Reset Due Dates</b>.
		The app will reset its accountability start date,
		so that only one day's worth of readings are currently due.
	</p>
	<p>
		To turn off accountability completely, click a plan's
		three-dot menu and choose <b>Turn off Accountability</b>.
		Then the app won't say anything about what is currently due;
		it will simply track your progress, as you proceed at whatever pace you prefer.
	</p>

	<div class="dm-vspacer"></div>
	<div class="dm-small-title">Bible Versions</div>
	<p>
		Bible texts are displayed by free providers, like <b>BibleGateway.com</b>.
		Each provider supports a set of Bible versions, specified by short codes,
		which are usually standard abbreviations, like <b>ESV</b>, <b>KJV</b>, etc.
		You can find the codes for less commonly-used versions
		by exploring providers' websites, selecting versions and examining the
		web addresses in your browser's location bar.
		</p>
	<p>
		You can choose the provider and version for a plan you've added,
		by clicking the plan's three-dot menu and choosing <b>Change Bible Version</b>.
		You can change your default settings for new plans,
		by clicking your name in the menu and choosing <b>Profile</b>.
	</p>

	<div class="dm-vspacer"></div>
</div>
<div class="dm-vspacer"></div>
<div class="dm-vspacer"></div>
