<div class="dm-panel">
	<p class="dm-tag-line">
		Delight-Meditate is a free, simple, quick, frictionless way to follow
		a daily Bible reading plan.
	</p>
	<button type="button" class="btn btn-primary" id="dm-about-button">About</button>
	<button type="button" class="btn btn-primary dm-button-inline" id="dm-test-drive-button">Test drive</button>
	<div class="dm-vspacer"></div>
</div>
<div class="dm-vspacer"></div>
<div class="dm-panel-fixed" id="dm-login-panel">
	<h1>Login</h1>
	<div class="dm-vspacer"></div>
	<form class="add-border">
		<div class="form-group">
			<label for="lfEmail">email address</label>
			<input id="lfEmail" class="form-control" "type="text" name="email987" autocomplete="on" />
		</div>
		<div class="form-group">
			<label for="lfPass">password</label>
			<input id="lfPass" class="form-control" type="password" name="pass987" />
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input id="lfKeep" class="form-check-input" type="checkbox" value="" checked>
				Keep me logged in
			</label>
		</div>
		<div class="dm-vspacer"></div>
		<div id="login-alert" class="alert alert-danger"></div>
		<button type="button" class="btn btn-primary" id="dm-login-button">Log in</button>
	</form>
	<div class="dm-vspacer"></div>
	<button type="button" class="btn btn-primary" id="dm-signup-button">Sign up</button>
	<div class="dm-vspacer"></div>
	<a href="/c/forgot">Forgot your password?</a>
	<div class="dm-vspacer"></div>
</div>
