<div class="modal fade">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<p>{{msg}}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" id="dm-modal-cancel">cancel</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="dm-modal-ok">OK</button>
			</div>
		</div>
	</div>
</div>
