<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="/">Delight/Meditate</a>
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link collapser" href="/c/about">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapser" href="/c/plans">Plans</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapser" href="/c/help">Help</a>
			</li>
			<li id="nav-contact" class="nav-item">
				<a class="nav-link collapser" href="/c/contact">Contact</a>
			</li>
			<li id="nav-login" class="nav-item">
				<a class="nav-link collapser" href="/c/login">Login/Signup</a>
			</li>
			<li id="nav-user-dropdown" class="nav-item dropdown dm-gone">
				<a class="nav-link dropdown-toggle" href="#" role="button" id="user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
				<div class="dropdown-menu" aria-labelledby="user-dropdown">
					<a class="dropdown-item" href="/c/profile">Profile</a>
					<a class="dropdown-item" id="dm-menu-logout">Logout</a>
				</div>
			</li>
		</ul>
	</div>
</nav>
<div class="dm-vspacer"></div>
