<div class="dm-panel-fixed">
	<h1>New Password</h1>
	<p>
		Please enter a new password for your account.
	</p>
	<form class="add-border">
		<div class="form-group">
			<label for="prPass">password</label>
			<input id="prPass" class="form-control" type="password" name="pwreset123" />
		</div>
		<input id="prToken" type="hidden" value="{{this}}" name="prhid123"/>
		<div class="dm-vspacer"></div>
		<div id="pwreset-alert" class="alert alert-danger"></div>
		<button type="button" class="btn btn-primary" id="dm-button-pwreset">Submit</button>
	</form>
	<div class="dm-vspacer"></div>
</div>
