<div class="dm-panel-fixed"  id="dm-signup-panel">
	<h1>Sign Up</h1>
	<div class="dm-vspacer"></div>
	<form class="add-border">
		{{> signupPartial}}
		<div class="form-group">
			<label for="sfPass">password</label>
			<input id="sfPass" class="form-control" type="password" name="pass123" />
		</div>
		<div id="signup-alert" class="alert alert-danger"></div>
		<button type="button" class="btn btn-primary" id="dm-signup-button">Sign up</button>
	</form>
	<div class="dm-vspacer"></div>
	<button type="button" class="btn btn-primary" id="dm-login-button">Log in</button>
	<div class="dm-vspacer"></div>
</div>
